:root {
    font-family: 'Montserrat', sans-serif;
    /*
	font-weight: 500;
	font-weight: 700;
	*/
}

ul,
li,
p,
h1,
h2 {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

mark {
    background: none;
    color: #fff;
}

body {
    background: #673399;
}

img {
    vertical-align: top;
}

.l_wrapper {
    margin: 100px auto;
    width: 1080px;
}

.header {
    display: flex;
    margin-bottom: 100px;
    color: white;
}


.main {
    font-size: 40px;
    width: 100%;
    margin: 0 auto;
}

.main mark {
    box-shadow: inset 0 -0.6em rgba(255, 79, 110, 1);
}

.main-text {
    position: relative;
    box-sizing: border-box;
    padding: 30px 100px;
    font-size: 14px;
    font-weight: 200px;
    color: #bd8fe8;
}

.main-text::before {
    content: "";
    position: absolute;
    background-color: #bd8fe8;
    left: 0;
    right: 90%;
    bottom: 50%;
    height: 3px;
    border-radius: 6px;
}

.bullet-list {
    padding: 24px;
    margin-right: auto;
}

.bullet-list li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
}

.bullet-list li::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #B08CDB;
}

.list-header {
    margin-bottom: 32px;
}

.contents {
    width: auto;
}

.flex-container {
    display: flex;
    margin-bottom: 24px;
    background-color: white;
    position: relative;
}

.img {
    width: 26%;
    /* height: 100%; */
    filter: brightness(60%);
    /* object-fit: fill; */
    /* aspect-ratio: 1200 / 800; */
}

.img-explain {
    position: absolute;
    left: 13%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
}


.flex-container:nth-child(even) {
    flex-direction: row-reverse;
}

.flex-container:nth-child(even) .img-explain {
    left: 87%;
}

@media (max-width: 1050px) {
    .flex-container {
        flex-direction: column;
    }
    .flex-container:nth-child(even) {
        flex-direction: column;
    }
    
    .flex-container:nth-child(even) .img-explain {
        left: 87%;
    }
    .img {
        width: 100%;
        height: 300px;
        filter: brightness(60%);
        object-fit: cover;
        /* aspect-ratio: 1200 / 800; */
    }

    .header {
        flex-direction: column;
    }

    .img-explain {
        position: absolute;
        left: 50%;
        top: 35%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 30px;
    }

    .header {
        flex-direction: column;
        justify-content: center;
    }
}